article.node  {
  background-image: url("../images/SSS_waves.png");
  margin-top: 0;
  display:block;
  color: #005058;
}
article.node ul li {
list-style: disc;
}
article.node.poster-centre ul li {
list-style: none;
}

article.node-poster div.container {
  padding:60px;
  max-height: 920px;
  
}

article.node.poster-dark {
  background-image: url("../images/SSS_waves_dark.png");
  color: #fefefe;
  color: #91dff6;
}
article.node.poster-dark strong {
  color: #D0EBF2;
}

article.node.poster-illustrated div.container {
  background: url("../images/cloudhead.png") transparent no-repeat 1400px 280px;
}

article.node.poster-illustrated div.container h2 {
  width: 1500px;
}
article.node.poster-illustrated div.container p {
  width: 1300px;
}
article.node.poster-centre {
  text-align: center;
}

.views-slideshow-controls-top,
.views-slideshow-controls-top a,
ul.links.inline {
  font-size: 10pt;
  line-height: 12pt;
  text-align: right;
}

