html, body, #main-content, div.page, .page .node-poster {
  width: 1920px;
  height: 1080px;
  /* overflow: hidden; */
  margin:0;
  padding:0;
}

html, body, #main-content, div.page{
  background-color: #005058;
  background-color: #91dff6;
  background-color: #eee;
}

.page {
  margin:0;
  padding:30px;
  border-width: 0;
  background-color: transparent;
}

#main-content {
  background-color: transparent;
}

.node-photo img {
  width: 1920px;
  height: 1080px;
}

.messages {
  font-size: 12pt;
  line-height: 1.5em;
}